body {
    margin: 0;
}

header {
    background-color: rgba(217, 255, 159, 0.514);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header #logo {
    width: 9%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#info h4{
    margin: 4px;
}

#tabuleiro {
    width: 400px;
    height: 400px;
    margin: 20px;

    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8,50px);
}

.casa {
    width: 50px;
    height: 50px;
    float: left;
    display: grid;
    align-items: center;
    justify-content: center;
}

.branca {
    background-color: #ffff;
}

.preta {
    background-color: #00000067;
}

.peca-branca, .peca-preta {
    width: 45px;
}

.selecionado {
    background-color: yellow;
    opacity: 0.6;
    border: 1px solid gray;
}

.selecionado > img {
    opacity: 1;
}

.movimento-possivel {
    background-color: rgb(109, 236, 158);
    opacity: 0.6;
}

.dama {
    width: 50px;
}