body {
    margin: 0;
}

header {
    background-color: rgba(217, 255, 159, 0.514);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header #logo {
    width: 9%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#info {
    padding: 4px;
    background-color: whitesmoke;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black
}

#info h4{
    margin: 4px;
    
    display: flex;
    align-items: center;
}   

#tabuleiro {
    width: 400px;
    height: 400px;
    margin: 20px;
    border: 1px solid black;
    box-shadow: 1px 2px 7px black;

    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8,50px);
}

.casa {
    width: 50px;
    height: 50px;
    float: left;
    display: grid;
    align-items: center;
    justify-content: center;
}

.branca {
    background-color: #ffff;
}

.preta {
    background-color: #00000067;
}

.peca-branca, .peca-preta {
    width: 45px;
}

.selecionado {
    background-color: yellow;
    opacity: 0.6;
    border: 1px solid gray;
}

.selecionado > img {
    opacity: 1;
}

.movimento-possivel {
    background-color: rgb(109, 236, 158);
    opacity: 0.6;
}

.dama {
    width: 50px;
}

.desativado {
    display: none;
    opacity: 0;
}

#jogador1-elemento {
    position: relative;
    top: -150px;
}

#jogador2-elemento {
    position: relative;
    top: 150px;
}

#index-casa {
    float: left;
}

#login {
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 15px 25px;
    background-color: aliceblue;
}

#login > h2 {
    text-align: center;
}

#botao-jogar {
    margin-top: 15px;
    padding: 5px;
}

#time-vencedor {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: x-large;
}

#vitoria-box {
    background-color: whitesmoke;
    padding: 4px;
    border: 1px solid black;
    box-shadow: 2px 2px 20px black;
}
/* Tornando a aplicação responsiva */

@media screen and (max-width: 820px) and (orientation: portrait){
    main {
        display: flex;

        flex-direction: column;
    }

    #jogador1-elemento {
        position: relative;

        top: 40px;
    }

    #jogador2-elemento {
        position: relative;
        
        top: -40px;
    }

    #info {
        background-color: whitesmoke;

        padding: 15px;

        position: fixed;

        top: 40px;
        right: 50px;
    }
}

@media screen and (min-width: 350px) and (max-width: 750px) and (orientation: portrait) {
    #tabuleiro {
        width: 320px;
        height: 320px;
        margin: 20px;
    
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(8, 40px);
        grid-template-rows: repeat(8, 40px);
    }

    .casa {
        width: 40px;
        height: 40px;
        float: left;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .peca-branca, .peca-preta {
        width: 35px;
    }

    #info {
        position: relative;
        top: -50px;
    }
}